{% extends 'app/base.html' %}

{% load static %}

{% block title %} Formulario - Agregar Alumnos {% endblock title %}

{% block main %}
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Full Width Backgrounds</h2>
                <p class="lead">A single, lightweight helper class allows you to add engaging, full width background images to sections of your page.</p>
                <p class="mb-0">The universe is almost 14 billion years old, and, wow! Life had no problem starting here on Earth! I think it would be inexcusably egocentric of us to suggest that we're alone in the universe.</p>
            </div>
        </div>
    </div>
</section>
    <!-- action: representa la url a la que nos va a re-dirigir y enviar la info.
    Tiene prioridad por sobre la redirección que podamos colocar en views.py -->
    <form action="/alumnos/" method="POST">
        {% csrf_token %}
        <p>Nombre: <input type="text" name="Nombre"></p>
        <p>Apellido: <input type="text" name="Apellido"></p>

        <input type="submit" value="Enviar">

    </form>
{% endblock main %}         
